.header {
  background: var(--white);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  width: 100%;

  .header-wrap {
    max-width: 1170px;
    width: 100%;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-actions {
      display: flex;

      .button {
        width: 100px;

        &:first-child{
          margin: 0 10px 0 0;
        }
      }


    }
  }

}