.home-page {

  .banner {
    height: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 70px;
    position: relative;

    background-image: url('../../../images/banner.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;

      background: rgba(0, 0, 0, 0.5);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
    }

    .banner-wrap {
      max-width: 380px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      z-index: 10;

      .banner-title {
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        color: var(--white);
        margin: 0 0 21px 0;
      }

      .banner-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--white);
        margin: 0 0 32px 0;
      }

      .button-wrap {
        display: flex;
        justify-content: center;

        .button {
          width: 100px;
        }
      }


    }

  }

  .get-users {

    padding: 70px 0;

    .get-users-wrap {

      .section-title {
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        display: flex;
        justify-content: center;
        color: rgba(0, 0, 0, 0.87);
        margin: 0 0 50px;
      }

      .users-group {

        .users {
          flex-wrap: wrap;
          display: flex;
          justify-content: space-between;

          .item {
            background: var(--white);
            border-radius: 10px;
            width: calc(33% - 15px);
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0 30px;
            overflow: hidden;

            .user-avatar {


              img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                margin: 0 0 20px;
                border-radius: 50%;

              }
            }

            .smart-text {
              text-overflow: ellipsis;
              width: 100%;
              overflow: hidden;
              text-align: center;
              white-space: nowrap;
            }

            .user-name {
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: rgba(0, 0, 0, 0.87);
              margin: 0 0 20px;
            }

            .user-position {
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: rgba(0, 0, 0, 0.87);
            }

            .user-phone-number,
            .user-email {

              a {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: rgba(0, 0, 0, 0.87);
              }
            }
          }
        }

        .show-more-users {
          display: flex;
          justify-content: center;
          margin: 20px 0 0;

          .button {
            width: 120px;
          }
        }


      }

      .no-user-items {
        display: flex;
        justify-content: center;

        h2 {
          font-weight: 400;
          font-size: 32px;
          line-height: 40px;
          display: flex;
          justify-content: center;
          color: rgba(0, 0, 0, 0.87);
          margin: 0 0 50px;
        }
      }
    }

  }

  .form {
    padding: 70px 0 100px;

    .form-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      .section-title {
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        display: flex;
        justify-content: center;
        color: rgba(0, 0, 0, 0.87);
        margin: 0 0 50px;
      }

      .sign-up-form {
        max-width: 380px;
        width: 100%;
        margin: 0 auto;

        .action-wrap {
          display: flex;
          justify-content: center;
          margin: 50px 0 0;
          flex-direction: column;
          align-items: center;

          .sign-up-form-button {
            width: 100px;
          }

          .messages {

            .message {
              padding: 8px 20px;
              border-radius: 4px;
              font-size: 16px;
              color: #fff;
              margin: 20px 0 0;

              &.error {
                background: var(--red);
              }

              &.success {
                background: var(--green);
              }
            }

          }
        }

        .field-section {
          position: relative;
          margin: 0 0 50px;

          &.filled {
            label {
              top: -7px;
              background: var(--background);
              padding: 0 2px;
              font-weight: 400;
              font-size: 12px;
              line-height: 14px;
              color: #7E7E7E;
              display: flex;
              align-items: center;
            }
          }

          &.empty {

          }

          label {
            font-weight: 400;
            font-size: 16px;
            color: #7E7E7E;
            position: absolute;
            left: 18px;
            top: 16px;
            z-index: 10;
            pointer-events: none;
            display: flex;
            align-items: center;
            transition: transform 150ms ease-out, font-size 150ms ease-out, top 150ms ease-out;
          }

          .input-type {
            border: 1px solid #D0CFCF;
            border-radius: 4px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            height: 54px;
            padding: 0 16px;
            width: 100%;
            display: flex;
            align-items: center;
            color: var(--black);
            background: var(--background)
          }

          .error {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #CB3D40;
            position: absolute;
            left: 16px;
            bottom: -18px;
          }

          &.input-error {

            .text-input {
              border: 2px solid var(--red);
            }

            input:not(:placeholder-shown) + label {
              color: var(--red);
            }

          }

          .upload-wrap {
            display: flex;

            .upload {
              height: 54px;
              width: 83px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: rgba(0, 0, 0, 0.87);
              border: 1px solid rgba(0, 0, 0, 0.87);
              box-sizing: border-box;
              border-radius: 4px 0px 0px 4px;
            }

            .file-title {
              height: 54px;
              width: 100%;
              display: flex;
              align-items: center;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              padding: 0 0 0 16px;
              color: #7E7E7E;


              border-top: 1px solid #D0CFCF;
              border-right: 1px solid #D0CFCF;
              border-bottom: 1px solid #D0CFCF;

              border-radius: 0 4px 4px 0;
            }

            &.input-error {

              .upload {
                border: 2px solid #CB3D40;
              }

              .file-title {
                border-top: 2px solid #CB3D40;
                border-right: 2px solid #CB3D40;
                border-bottom: 2px solid #CB3D40;
              }
            }
          }

          .helper-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #7E7E7E;
            margin: 4px 0 0 16px;
          }

        }

        .radio-group-section {
          margin: 0 0 47px;
          position: relative;

          .radio-group-title {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: rgba(0, 0, 0, 0.87);
            margin: 0 0 10px;
          }

          .radio {
            margin: 0 0 7px;
            position: relative;

            label {
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: rgba(0, 0, 0, 0.87);
              display: inline-flex;
              align-items: center;
              padding: 0 0 0 32px;
              cursor: pointer;
            }

            input[type="radio"] {
              position: absolute;
              opacity: 0;

              + .radio-label {
                &:before {
                  content: '';
                  background: var(--background);
                  border-radius: 100%;
                  border: 1px solid #00BDD3;
                  position: absolute;
                  left: 0;
                  width: 20px;
                  height: 20px;
                  cursor: pointer;
                  transition: all 250ms ease;
                }
              }

              &:checked {
                + .radio-label {
                  &:before {
                    background-color: #00BDD3;
                    box-shadow: inset 0 0 0 4px #fff;
                  }
                }
              }

              //&:focus {
              //  + .radio-label {
              //    &:before {
              //      outline: none;
              //      border-color: #f00;
              //    }
              //  }
              //}
            }
          }

          .error {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #CB3D40;
            position: absolute;
            left: 16px;
            bottom: -18px;
          }
        }

        .select-group-section {
          margin: 0 0 50px;
          position: relative;

          .custom-select {
            width: 100%;
          }

          .select-group-title {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: rgba(0, 0, 0, 0.87);
            margin: 0 0 10px;
          }

          &.input-error {
            .custom-select {

              .MuiSelect-select {
                border: 2px solid #f00;
              }

            }


          }

          .default-value-select{
            color: #f00;
          }

          .error {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #CB3D40;
            position: absolute;
            left: 16px;
            bottom: -18px;
          }
        }
      }
    }

  }

  @media (max-width: 2559px) {


    .get-users {

      .get-users-wrap {
        padding: 0 60px;

      }

    }
  }

  @media (max-width: 1023px) {
    .banner {
      height: 500px;

    }

    .get-users {

      .get-users-wrap {
        padding: 0 32px;

        .users-group {

          .users {

            .item {
              width: calc(50% - 8px);
              margin: 0 0 16px;
            }
          }

        }
      }

    }
  }

  @media (max-width: 767px) {
    .banner {


      .banner-wrap {
        max-width: 100%;
        padding: 0 16px;
      }

    }

    .get-users {

      .get-users-wrap {
        padding: 0 16px;

        .section-title {
          text-align: center;
        }

        .users-group {

          .users {

            .item {
              width: 100%;
              margin: 0 0 20px;
            }
          }

        }
      }

    }

    .form {

      .form-wrap {

        padding: 0 16px;

        .section-title {
          text-align: center;
        }

      }
    }
  }
}