:root {
  // General and Common
  --black: #000;
  --white: #fff;
  --yellow: #F4E041;
  --yellow_hover: #FFE302;
  --background: #F8F8F8;
  --red: #CB3D40;
  --green: #386D66;
  --disable: #B4B4B4
}
